*{
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
}

.search{
    display: flex;
    justify-content: center;
    margin:20px;
}

.row{
    background-color: aqua;
    display: flex;
    margin: 0;
}