/*------ Header-------*/

nav{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    height: 10vh;
    font-size: 22px;
    align-items: center;
}

nav a{
    color: #04e762;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}
nav a:hover{
    color: #04e762;
    border-bottom: solid #04e762;
}

nav img{
    width: 170px;
    position:absolute;
    left: 10px;
}